    body {
        margin: 0;
        font-family: 'Inter', sans-serif;
        font-family: 'Manrope', sans-serif;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-family: 'Roboto', sans-serif;
    }

    .first-section {

        background: rgba(0, 0, 3, 0.7)url(images/donation12.png);
        text-align: center;
        padding: 120px;
        background-size: cover;
        background-blend-mode: darken;


    }

    .text-section-one {

        color: white;
        font-family: 'Inter', sans-serif;
        padding: 70px;
    }

    .text-section-one h1 {

        font-size: 50px;


    }

    .text-section-one a {

        text-decoration: none;
        background-color: #FF5959;
        padding: 15px;
        color: white;
    }